<?xml version="1.0" encoding="UTF-8"?>
<it.unipi.dii.inginf.lsdb.coogether.config.ConfigurationParameters>
    <mongoFirstIp>172.16.4.51</mongoFirstIp>
    <mongoFirstPort>27018</mongoFirstPort>
    <mongoSecondIp>172.16.4.52</mongoSecondIp>
    <mongoSecondPort>27018</mongoSecondPort>
    <mongoThirdIp>172.16.4.53</mongoThirdIp>
    <mongoThirdPort>27018</mongoThirdPort>
    <mongoUsername></mongoUsername>
    <mongoPassword></mongoPassword>
    <mongoDbName>CooGether</mongoDbName>
    <neo4jIp>172.16.4.53</neo4jIp>
    <neo4jPort>7687</neo4jPort>
    <neo4jUsername>neo4j</neo4jUsername>
    <neo4jPassword>root</neo4jPassword>
</it.unipi.dii.inginf.lsdb.coogether.config.ConfigurationParameters>